.swa-property-list {
  $column-gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  column-gap: $column-gap;

  &__link {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  &__property {
    max-width: 400px;
    min-width: 300px;
    width: calc(25% - #{$column-gap} * 3 / 4);
  }

  &__property-image {
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.swa-property-reader {
  &__title,
  &__address,
  &__logo,
  &__image {
    display: block;
    width: max-content;
    margin: auto;
  }

  &__description {
  }

  &__features {
    column-count: 4;
    column-gap: 40px;
  }

  &__feature {
    break-inside: avoid;
  }
}

.clickable {
  cursor: pointer;
}

.swa-image-slider {
  &__display {
    max-width: 600px;
    margin: auto;
    position: relative;
  }

  &__control {
    border: 40px solid #3f3f3f;
    border-bottom-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: 150px;
    z-index: 300;

    &--previous {
      border-left: none;
      left: -90px;
    }

    &--next {
      border-right: none;
      right: -90px;
    }
  }

  &__slides {
    width: 400%;
    transition: transform 1s;
  }

  &__slide {
    float: left;
    width: 25%;
    position: relative;

    &::before {
      display: block;
      content: '';
      background-color: rgba(255, 255, 255, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background-color 1s;
    }
    &--active::before {
      transition: background-color 1s;
      background-color: rgba(255, 255, 255, 0);
    }
  }
}