$timing-bezier: cubic-bezier(.66, .06, .4, .98);

.swa-property-list {
  $column-gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  column-gap: $column-gap;

  &__link {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  &__property {
    max-width: 400px;
    min-width: 300px;
    width: calc(25% - #{$column-gap} * 3 / 4);
  }

  &__property-image {
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.swa-property-reader {
  &__title,
  &__address,
  &__logo,
  &__image {
    display: block;
    width: max-content;
    margin: auto;
  }

  &__description {
  }

  &__features {
    column-count: 4;
    column-gap: 40px;
  }

  &__feature {
    break-inside: avoid;
  }
}

.clickable {
  cursor: pointer;
}

.swa-image-slider {
  &__display {
    max-width: 600px;
    margin: auto;
    position: relative;
  }

  &__control {
    border: 60px solid #3f3f3f;
    border-bottom-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: calc(50% - 60px);
    z-index: 300;
    transition: all .25s;
    cursor: pointer;

    &:hover {
      border-color: transparent #5f5f5f;
    }

    &::after {
      border: solid white;
      border-width: 4px 4px 0 0;
      content: '';
      width: 40px;
      height: 40px;
      display: block;
      transform: rotate3d(0, 0, 1, 45deg);
      position: absolute;
      top: -20px;
      transition: all .25s;
    }

    &--previous {
      border-left: none;
      left: -63px;

      &::after {
        transform: rotate3d(0, 0, 1, 45deg);
        border-width: 0 0 4px 4px;
        left: 22px;
      }

      &:hover::after {
        left: 30px;
      }
    }

    &--next {
      border-right: none;
      right: -63px;

      &::after {
        right: 22px;
      }

      &:hover::after {
        right: 30px;
      }
    }

  }

  &__slides {
    width: 400%;
    transition: transform .5s $timing-bezier;
    display: flex;
    align-items: center;
  }

  &__slide {
    width: 25%;
    position: relative;
    padding: 0 2px;

    &::before {
      display: block;
      content: '';
      background-color: rgba(255, 255, 255, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: background-color .5s $timing-bezier;
    }

    &--active::before {
      background-color: rgba(255, 255, 255, 0);
    }
  }
}
